extends layout
block content
  .center-wrap
    .center
      .row
        .col-sm-4.col-sm-offset-4
          form(method="post" action="/booking" enctype="multipart/form-data")
            .form-group
              label Новая картинка с бронью:
              input.form-control(type="file" name="image")
            button.btn.btn-primary.btn-block Отправить
