extends layout
block content
  section#feedback
    .container
      .center-wrap
        .center
          h2= message
          p
            a(href="" onclick="window.history.back()") Вернуться назад
