extends layout

block content
  section#header
    .container
      .row
        .col-sm-4
          p Гостевой дом в частном секторе
        .col-sm-4.text-center
          p Ейск, Краснофлотская, 40
        .col-sm-4.text-right
          p
            a(href="tel:+79615824006") +7 961 582 40 06
            br
            a(href="tel:+79181874638") +7 918 187 46 38
            br
            a(href="tel:88613235248") 8 861 32 3 52 48
      .center-wrap
        .center.text-center
          h1 Недорогой летний отдых в гостевом доме
            br
            | на берегу Азовского моря (Ейск)
    a.go(href="#features")
      span.glyphicon.glyphicon-chevron-down

  section#features
    .container
      .center-wrap
        .center
          .row
            .col-sm-6
              .feature
                span.glyphicon.glyphicon-home
                p Уютный частный дом с радушными хозяевами
              .feature
                span.glyphicon.glyphicon-time
                p 100 метров до моря, 10 минут до городского пляжа
              .feature
                span.glyphicon.glyphicon-bed
                p Комнаты со всеми удобствами и интернетом
            .col-sm-6
                h3 Хотите получить подробную информацию?
                p.centered Позвоните нам: 
                  a(href="tel:+79615824006") +79615824006
                  br
                  | или оставьте свои контакты:
                form(method="post" action="/callback" onsubmit="(yaCounter37298945 && yaCounter37298945.reachGoal('callback')); return true;")
                  .row
                    .col-sm-8.col-sm-offset-2
                      .form-group
                        label Имя
                        input.form-control(type="text" name="name" required)
                      .form-group
                        label Телефон
                        input.form-control(type="text" name="phone" required)
                      .form-group
                        button.btn.btn-primary.btn-block(role="submit") Узнать больше
                      .form-group
                        label
                          input(type="checkbox" required checked)
                          span  Даю согласие на обработку персональных данных1
          .row.photos
            .col-sm-3
              a(href="/images/1a.jpg" target="_blank")
                img(src="/images/1t.jpg")
            .col-sm-3
              a(href="/images/3a.jpg" target="_blank")
                img(src="/images/3t.jpg")
            .col-sm-3
              a(href="/images/19.jpg" target="_blank")
                img(src="/images/19t.jpg")
            .col-sm-3
              a(href="/images/7a.jpg" target="_blank")
                img(src="/images/7t.jpg" height="200")
     a.go(href="#more")
      span.glyphicon.glyphicon-chevron-down

  section#more
    .container
      .center-wrap
        .center
          .row
            .col-sm-6
              h3 10 комнат на 2-4 человека
              ul
                li Тихий и безопасный район
                li Есть туалет, душ, кондиционер, телевизор
                li Wi-Fi
                li Общая кухня с кучей холодильников и плит
                li Парковка
                li Мангал и шампура
            .col-sm-6
              h3 Вы у нас впервые?
              p Готовы встретить на машине на вокзале или в аэропорту (Ейск, Староминская, Ростов-на-Дону, Краснодар). Расскажем и покажем местность: где что есть и где лучше купаться.
              h3 Ищете море поглубже?
              p Поедем вместе на косу Должанскую (40 км от Ейска).
    a.go(href="#contacts")
      span.glyphicon.glyphicon-chevron-down

  section#contacts
    .container
      .center-wrap
        .center
          .row
            .col-sm-6
              p Недовольных нашим гостеприимством еще не было.
              p Те, кто у нас отдыхал летом, готовы нас порекомендовать.
              p Звоните &mdash; при необходимости дадим контакты предыдущих гостей, пообщаетесь.
            .col-sm-6
              iframe(scrolling="no" marginheight="0" marginwidth="0"
               src="https://www.google.com/maps/d/embed?mid=1-zegLihYy_btKazT0JYLQeeLHSs&z=15" frameborder="0" height="500px" width="100%")
    a.go(href="#feedback")
      span.glyphicon.glyphicon-chevron-down

  section#feedback
    .container
      .center-wrap
        .center
          .row
            .col-sm-8.col-sm-offset-2
              h3 Есть вопросы? Напишите
              form(method="post" action="/feedback" onsubmit="(yaCounter37298945 && yaCounter37298945.reachGoal('feedback')); return true")
                .row
                  .col-sm-8.col-sm-offset-2
                    .form-group
                      textarea.form-control(name="text" rows="5" required)
                    .form-group
                      label Имя
                      input.form-control(type="text" name="name" required)
                    .form-group
                      label E-mail
                      input.form-control(type="text" name="mail" required)
                    .form-group
                      button.btn.btn-primary.btn-block(role="submit") Задать вопрос
                    .form-group
                      label
                        input(type="checkbox" required checked)
                        span  Даю согласие на обработку персональных данных
