extends layout

block content
  section#header
    .container
      .row
        .col-sm-4
          p Гостевой дом в частном секторе
        .col-sm-4.text-center
          p Ейск, Краснофлотская, 40
        .col-sm-4.text-right
          p
            a(href="tel:+79615824006") +7 961 582 40 06
            br
            a(href="tel:+79181874638") +7 918 187 46 38
            br
            a(href="tel:88613235248") 8 861 32 3 52 48
      .center-wrap
        .center.text-center
          h1 Недорогой летний отдых в гостевом доме
            br
            | на берегу Азовского моря (Ейск)
    a.go(href="#features")
      span.glyphicon.glyphicon-chevron-down

  section#features
    .container
      .center-wrap
        .center
          .row
            .col-sm-6
              .feature.home
                span.glyphicon.glyphicon-home
                p Уютный частный дом с радушными хозяевами
              .feature.time
                span.glyphicon.glyphicon-time
                p 100 метров до моря, 10 минут до городского пляжа
              .feature.bed
                span.glyphicon.glyphicon-bed
                p Комнаты со всеми удобствами и интернетом
            .col-sm-6
              .callback
                h3 Хотите получить подробную информацию?
                p.centered Позвоните нам: 
                  a(href="tel:+79615824006") +79615824006
                  br
                  | или оставьте свои контакты:
                form(method="post" action="/callback" onsubmit="(yaCounter37298945 && yaCounter37298945.reachGoal('callback')); return true;")
                  .row
                    .col-sm-8.col-sm-offset-2
                      .form-group
                        label Имя
                        input.form-control(type="text" name="name" required)
                      .form-group
                        label Телефон
                        input.form-control(type="text" name="phone" required)
                      .form-group
                        button.btn.btn-primary.btn-block(role="submit") Узнать больше
                      .form-group
                        label.ch
                          input(type="checkbox" required checked)
                          span  Даю согласие на 
                            a(href="/policy" target="_blank") обработку персональных данных
  section#photos
    .photos
      - each photo in ['1a', '2a', '3a', '14a', '7a', '8a', '9a', '10a', '11a', '12a', '13a', '15a', '16a', '17a', '18a', '20', '21', '25', '22', '23', '24', '26', '27']
        a(href="/images/#{photo}.jpg" target="_blank")
          img(src="/images/#{photo}.jpg" height="300")
  section#more
    .video
      video(preload autoplay loop muted)
        source(type="video/webm" src="/lake.webm")
        source(type="video/mp4" src="/lake.mp4")
    .container
      .center-wrap
        .center
          .row
            .col-sm-12
              p.centered
                img(src="/images/features.png")
          .row
            .col-sm-6
              h3 10 комнат на 2-4 человека
              ul
                li Тихий и безопасный район
                li Есть туалет, душ, кондиционер, телевизор
                li Wi-Fi
                li Общая кухня с кучей холодильников и плит
                li Парковка
                li Мангал и шампура
            .col-sm-6
              h3 Вы у нас впервые?
              p Готовы встретить на машине на вокзале или в аэропорту (Ейск, Староминская, Ростов-на-Дону, Краснодар). Расскажем и покажем местность: где что есть и где лучше купаться.
              h3 Ищете море поглубже?
              p Поедем вместе на косу Должанскую (40 км от Ейска).
    a.go(href="#contacts")
      span.glyphicon.glyphicon-chevron-down

  section#contacts
    .container
      .center-wrap
        .center
          .row
            .col-sm-6
              p Недовольных нашим гостеприимством еще не было.
              p Те, кто у нас отдыхал летом, готовы нас порекомендовать.
              p Звоните &mdash; при необходимости дадим контакты предыдущих гостей, пообщаетесь.
              p &nbsp;
              p
                a(href="tel:+79615824006") +7 961 582 40 06
                br
                a(href="tel:+79181874638") +7 918 187 46 38
                br
                a(href="tel:88613235248") 8 861 32 3 52 48
            .col-sm-6
              iframe(scrolling="no" marginheight="0" marginwidth="0"
               src="https://www.google.com/maps/d/embed?mid=1-zegLihYy_btKazT0JYLQeeLHSs&z=15" frameborder="0" height="500px" width="100%")
    a.go(href="#feedback")
      span.glyphicon.glyphicon-chevron-down
      
  section#booking
    .container
      .row
        .col-sm-8.col-sm-offset-2
          h3 Бронирование
          p Для чего нужно бронировать?

          p Для того, что бы мы смогли Вас встретить и поселить в указаную Вами дату и по фиксированной цене. Серьезность намерений подкрепленная финансами вселяет в нас чрезвычайную уверенность в клиенте. Вам будет необходимо оплатить бронь номера в размере примерно однодневного проживания, а именно 1000 р (которая учтется при заселении) на карту Сбербанка. 

          p Если этого не сделать, то приоритет в заселении будет иметь человек заранее оплативший бронь или просто заселившийся с улицы первым по рыночной цене сложившейся на день заселения. Для справки, понижения цены еще ни разу не было со времен правления Л.И.Брежнева. 

          p Дело в том, что довольно часто люди резервируют места у нас, но у нас не появляются, хотя нам приходится отказывать потенциальным постояльцам в заселении. Что это, проявление конкуренции или надобросовестность отдыхающих не очень хочется разбираться. Что бы избежать этого мы вынужденны ввести платную бронь для тех, кто приезжает к нам впервые. Если Вы захотите повторно поселится у нас, то нам будет достаточно простого уведомления от Вас, потому что для нас вы становитесь постоянным клиентом.

          p Люди вполне обоснованно опасаются мошенничества и с нашей стороны, и мы это понимаем, поэтому мы можем по запросу выслать вам на почту скан паспорта для подтверждения места своего проживания по заявленному здесь адресу.

          p Для наглядности бронирования Вы можете посмотреть график заселения с забронированными номерами на сегодняшний день. График обновляется по мере бронирования номеров.

      p.centered
        img(src="/images/booking.png?#{time}")

  section#feedback
    .container
      .row
        .col-sm-8.col-sm-offset-2
          h3 Есть вопросы? Напишите
          form(method="post" action="/feedback" onsubmit="(yaCounter37298945 && yaCounter37298945.reachGoal('feedback')); return true")
            .row
              .col-sm-8.col-sm-offset-2
                .form-group
                  textarea.form-control(name="text" rows="5" required)
                .form-group
                  label Имя
                  input.form-control(type="text" name="name" required)
                .form-group
                  label E-mail
                  input.form-control(type="text" name="mail" required)
                .form-group
                  button.btn.btn-primary.btn-block(role="submit") Задать вопрос
                .form-group
                  label.ch
                    input(type="checkbox" required checked)
                    span  Даю согласие на 
                      a(href="/policy" target="_blank") обработку персональных данных
