extends layout

block content
  section#menu
    .container
      ul
        li
          a(href="#photos") Фото номеров
        li
          a(href="#more") Условия проживания
        li
          a(href="#contacts") Бронирование
        li
          a(href="#booking") Стоимость
        li
          a(href="#feedback") Задать вопрос
  section#header
    .container
      .row
        .col-sm-4
          p Гостевой дом в частном секторе
        .col-sm-4.text-center
          p Ейск, Краснофлотская, 40
        .col-sm-4.text-right
          p
            a(href="tel:+79615824006") +7 961 582 40 06
            br
            a(href="tel:+79181874638") +7 918 187 46 38
            br
            a(href="tel:88613235248") 8 861 32 3 52 48
      .center-wrap
        .center.text-center
          h1 Недорогой летний отдых в гостевом доме
            br
            | на берегу Азовского моря (Ейск)

  section#features
    .container
      .center-wrap
        .center
          h2 Уютный частный дом с радушными хозяевами
          .row
            .col-sm-6
              .feature.home
                span.glyphicon.glyphicon-home
                p Уютный частный дом с радушными хозяевами
              .feature.time
                span.glyphicon.glyphicon-time
                p 100 метров до моря, 10 минут до городского пляжа
              .feature.bed
                span.glyphicon.glyphicon-bed
                p Комнаты со всеми удобствами и интернетом
            .col-sm-6
              .callback
                p.h3 Хотите получить подробную информацию?
                p.centered Позвоните нам: 
                  a(href="tel:+79615824006") +79615824006
                  br
                  | или оставьте свои контакты:
                form(method="post" action="/callback" onsubmit="(yaCounter37298945 && yaCounter37298945.reachGoal('callback')); return true;")
                  .row
                    .col-sm-8.col-sm-offset-2
                      .form-group
                        label Имя
                        input.form-control(type="text" name="name" required)
                      .form-group
                        label Телефон
                        input.form-control(type="text" name="phone" required)
                      .form-group
                        button.btn.btn-primary.btn-block(role="submit") Узнать больше
                      .form-group
                        label.ch
                          input(type="checkbox" required checked)
                          span  Даю согласие на 
                            a(href="/policy" target="_blank") обработку персональных данных
  section#photos
    h2 Недорогое жилье в частном секторе Ейска
    .photos
      - each photo in ['1a', '2a', '3a', '14a', '7a', '8a', '9a', '10a', '11a', '12a', '13a', '15a', '16a', '17a', '18a', '20', '21', '25', '22', '23', '24', '26', '27', '28', '29']
        a(href="/images/#{photo}.jpg" target="_blank")
          img(src="/images/#{photo}.jpg" height="300")
  section#more
    .video
      video(preload autoplay loop muted)
        source(type="video/webm" src="/lake.webm")
        source(type="video/mp4" src="/lake.mp4")
    .container
      .center-wrap
        .center
          .row
            .col-sm-12
              p.centered
                img(src="/images/features.png")
          .row
            .col-sm-6
              p.h3 10 комнат на 2-4 человека
              ul
                li Тихий и безопасный район
                li Есть туалет, душ, кондиционер, телевизор
                li Wi-Fi
                li Общая кухня с кучей холодильников и плит
                li Парковка
                li Мангал и шампура
            .col-sm-6
              h3 Вы у нас впервые?
              p Готовы встретить на машине на вокзале или в аэропорту (Ейск, Староминская, Ростов-на-Дону, Краснодар). Расскажем и покажем местность: где что есть и где лучше купаться.
              h3 Ищете море поглубже?
              p Поедем вместе на косу Должанскую (40 км от Ейска).
    a.go(href="#contacts")
      span.glyphicon.glyphicon-chevron-down

  section#contacts
    .container
      .center-wrap
        .center
          h2 Забронировать комнаты в гостевом доме на берегу Азовского моря
          .row
            .col-sm-6
              p Забронируйте номер, чтобы сэкономить, 100% заселиться и хорошо провести отдых
              p 
                strong Так дешевле
              p Сейчас стоимость номера - от 600 рублей в сутки. Однако в сезон она возрастает, порой в 2 раза. Также часто остаются свободными более дорогие номера, от 1200 рублей в сутки. Бронь защитит вас от переплаты и сэкономит до 50% бюджета на проживание.
              p 
                strong Так надежнее
              p Номера резервируют за 2-4 недели до приезда, а в сезон - ежедневно. Если вы оставите бронь, номер 100% останется за вами. Если же нет, к моменту вашего приезда все окажется занято.
              p 
                strong Так спокойнее
              p Всех, кто оставляет бронь, мы встречаем, помогаем добраться до гостевого дома и спокойно заселиться. В итоге вы не заблудитесь в незнакомом городе, не потеряетесь и не будете нервничать из-за неопределенности.
              p Хотите гарантий нормального отдыха? Оплатите бронь номера в размере 1000 рублей на банковскую карту. При расчете мы вычтем ее из оплаты проживания.
              p По запросу готовы выслать вам на почту документы с подтверждением существования гостевого дома по заявленному адресу, отзывы наших постояльцев и фотографии дома.
            .col-sm-6
              a(href="https://www.google.com/maps/d/viewer?mid=1-zegLihYy_btKazT0JYLQeeLHSs&ll=46.699523601318155%2C38.271543432418866&z=13")
                img(src="/images/euck.png" width="100%")
          .row
            .col-sm-4
              p.centered
                a(href="tel:+79615824006") +7 961 582 40 06
            .col-sm-4
              p.centered
                a(href="tel:+79181874638") +7 918 187 46 38
            .col-sm-4
              p.centered
                a(href="tel:88613235248") 8 861 32 3 52 48
    a.go(href="#feedback")
      span.glyphicon.glyphicon-chevron-down
      
  section#booking
    .container
      .row
        .col-sm-8.col-sm-offset-2

      p.centered
        iframe(src="https://docs.google.com/spreadsheets/d/13VZwMhIcvDwy13xm7qjHHu3szIGbjOCpsoziVR6xcxM/pubhtml?gid=1060297439&amp;single=true&amp;widget=true&amp;headers=false" width="100%" height="700")
        
  section
    .container
      .row
        .col-sm-8.col-sm-offset-2
          div
            script(type="text/javascript" src="//vk.com/js/api/openapi.js?143")
            #vk_community_messages
            script(type="text/javascript")
              | VK.Widgets.CommunityMessages("vk_community_messages", 124372901, {expandTimeout: "15000",tooltipButtonText: "Есть вопрос?"});

      .row
        .col-sm-9.col-sm-offset-1
          #disqus_thread
          script
            | var disqus_config = function () {
            |   this.page.url = 'https://euck.ru';  // Replace PAGE_URL with your page's canonical URL variable
            |   this.page.identifier = 'index'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            | };
            | (function() { // DON'T EDIT BELOW THIS LINE
            |   var d = document, s = d.createElement('script');
            |   s.src = '//euckru.disqus.com/embed.js';
            |   s.setAttribute('data-timestamp', +new Date());
            |   (d.head || d.body).appendChild(s);
            | })();           

  section#feedback
    .container
      h2 Есть вопросы по аренде жилья в Ейске? Напишите
      .row
        .col-sm-8.col-sm-offset-2
          form(method="post" action="/feedback" onsubmit="(yaCounter37298945 && yaCounter37298945.reachGoal('feedback')); return true")
            .row
              .col-sm-8.col-sm-offset-2
                .form-group
                  textarea.form-control(name="text" rows="5" required)
                .form-group
                  label Имя
                  input.form-control(type="text" name="name" required)
                .form-group
                  label E-mail
                  input.form-control(type="text" name="mail" required)
                .form-group
                  button.btn.btn-primary.btn-block(role="submit") Задать вопрос
                .form-group
                  label.ch
                    input(type="checkbox" required checked)
                    span  Даю согласие на 
                      a(href="/policy" target="_blank") обработку персональных данных
