doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="description" content="Летний отдых в Ейске на берегу моря. Гостевой дом в частном секторе Ейска недорого: от 600 рублей в день. Недорогое жилье со всеми удобствами в Ейске без посредников.")
    meta(name="keywords" content="гостевой дом ейск, гостевой дом на берегу моря ейск, отдых в ейске частный сектор, ейск частный сектор без посредников, жильё у моря ейск, отдых ейск недорого, отдых в ейске цены на жилье")
    title Недорогой летний отдых в гостевом доме на берегу Азовского моря (Ейск)
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(type="text/javascript")
      | (window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-104076-7F0fH';
    script(type="text/javascript")
      | (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44149094 = new Ya.Metrika({ id:44149094, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    
    //- script(type="text/javascript")
    //-   | (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter37298945 = new Ya.Metrika({ id:37298945, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, ecommerce:"dataLayer" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
    //- noscript
    //-   div
    //-     img(src="https://mc.yandex.ru/watch/37298945" style="position:absolute; left:-9999px;" alt="")
    script(type="text/javascript")
      | (window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=KS0SLWv07kGXkLu54zR5MftGIAllJATrABE9Rkq9KnRVak41YpLtHjXmc1kBK2*PTKuuz9AsEUi406m6ywf3qUCeOGVD/PetyDmqg02aj3/c*Rdp7Djn49Awz/LvU4jJqvHVx5w7tih3SmNm4G5W/BMoRpC8XkEGq/KJ3zbT8AY-';
