extends layout
block content
  .container
    h1 Политика конфиденциальности
    p Соблюдение Вашей конфиденциальности важно для нас. По этой причине, мы разработали Политику Конфиденциальности, которая описывает, как мы используем и храним Вашу информацию. Пожалуйста, ознакомьтесь с нашими правилами соблюдения конфиденциальности и сообщите нам, если у вас возникнут какие-либо вопросы.
    h3 Сбор и использование персональной информации
    p Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним.
    p От вас может быть запрошено предоставление вашей персональной информации в любой момент, когда вы связываетесь с нами.
    p Ниже приведены некоторые примеры типов персональной информации, которую мы можем собирать, и как мы можем использовать такую информацию.
    p Какую персональную информацию мы собираем:
    ul
      li Когда вы оставляете заявку на сайте, мы можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и т.д.
    p Как мы используем вашу персональную информацию:
    ul
      li Собираемая нами персональная информация позволяет нам связываться с вами и сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях.
      li Время от времени, мы можем использовать вашу персональную информацию для отправки важных уведомлений и сообщений.
      li Мы также можем использовать персональную информацию для внутренних целей, таких как проведения аудита, анализа данных и различных исследований в целях улучшения услуг предоставляемых нами и предоставления Вам рекомендаций относительно наших услуг.
      li Если вы принимаете участие в розыгрыше призов, конкурсе или сходном стимулирующем мероприятии, мы можем использовать предоставляемую вами информацию для управления такими программами.
    h3 Раскрытие информации третьим лицам
    p Мы не раскрываем полученную от Вас информацию третьим лицам.
